# ================================
# Ignorer les fichiers système et temporaires
# ================================

# Fichiers Python compilés ou optimisés
**/__pycache__/
**/*.py[cod]
*$py.class

# Byte-compiled / optimized files
*.pyc
*.pyo
*.pyd

# Logs et bases de données locales
*.log
*.sqlite3
*.db

# ================================
# Ignorer les environnements virtuels et dépendances
# ================================

# Environnements virtuels Python
venv/
env/
.venv/
django-env/

# Dépendances Node.js
node_modules/

# Cache pip et autres fichiers de packaging
pip-cache/
.installed.cfg
*.egg-info/
*.egg
develop-eggs/
eggs/
.eggs/
parts/
sdist/
var/
build/
dist/

# ================================
# Ignorer les artefacts de build et tests
# ================================

# Rapports de couverture et tests
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# PyInstaller (si utilisé)
*.manifest
*.spec

# Sphinx documentation
docs/_build/
docs/locale/

# Autres artefacts de build
target/
assets/ # Répertoire STATIC_ROOT pour les fichiers statiques générés

# ================================
# Ignorer les fichiers sensibles
# ================================

# Données sensibles
credentials.py
credentials.pyc

# Fichiers de configuration locale
.env
.env.local
.flaskenv
.secrets
config.json

# ================================
# Ignorer les fichiers IDE et éditeurs
# ================================

# IDE et éditeurs de code
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints

# ================================
# Ignorer les fichiers spécifiques au projet
# ================================

# Fichiers PDF générés pour les rapports WebMap
static/*.pdf

# Autres fichiers inutiles
*.bak
*.tmp
*.swp
*.swo
